a {
  /* Elimina el subrayado de los enlaces */
  text-decoration: none;
}

#logo {
  /* Hace que la imagen sea circular */
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.brand-footer {
  margin-bottom: 2px;
}

.service-table th,
.service-table td {
  padding: 8px;
}

.service-table-header {
  background-color: #717070;
  color: #f3f3f3;
}

.admin-service-description {
  text-align: justify;
  /* word-break: Indica si se pueden partir palabras de forma natural. */
  word-break: break-word;
  /* hyphens: Indica si se debe dividir las palabras por guiones. */
  hyphens: auto;
  padding-right: 1rem;
  width: 70%;
}

.service-row {
  vertical-align: top;
}

.service-row:nth-child(odd) {
  background-color: #f3f3f3;
}

.service-row:nth-child(even) {
  background-color: #d6d6d6;
}

/* Los estilos de .title-wrapper es para poner una imagen y un título alineados
   uno al lado del otro.
*/
.title-wrapper {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-top: 1rem;
}

.title-wrapper img {
  height: 48px;
}

.title-wrapper h3 {
  margin-block: 0;
}
